
<div class="container mt-4">
    <h4>Creación de Sala</h4>

    <form #newSalaForm="ngForm" (ngSubmit)="onSubmit()" >
    
        <div class="mb-3 mt-4">
    
          <label for="nombreSala" class="form-label h6">Nombre de la Sala (requerido,no sensible a espacios)</label>
          <input type="text" class="form-control" id="nombreSala" aria-describedby="    "
          appNomSalaValidator
          required minlength="2" [(ngModel)]="salaService.salaForm.Nombre" name="nombreSala" #nomSala="ngModel"
          
          >
          <div *ngIf="nomSala.invalid && (nomSala.dirty || nomSala.touched)"
            class="alert alert-danger mt-2">

            <div *ngIf="nomSala.errors?.required">
              Nombre de sala requerido
            </div>

            <div *ngIf="nomSala.errors?.minlength">
              Nombre de sala debe ser mínimo dos carácteres
            </div>
          
            <div *ngIf="nomSala.errors?.nomSalaInvalid">
              Nombre de sala repetido
            </div>
          
          

            

        </div>



          <label for="IdSalaDefinido" class="form-label h6">Id predefinido</label>
          <input disabled type="text" id="IdSalaDefinido" class="form-control" [placeholder]="idSala">

        
        </div>
        <button type="submit" class="btn btn-primary"
        [disabled]="!newSalaForm.form.valid"
        
        >Crear</button>
    </form>
</div>
