<ng-template #modalLogin let-modal>

    <div class="modal-header" >
      <h4 class="modal-title" id="modal-basic-title">Iniciar Sesión</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click'); cleanModalLogin() ">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <!--FORM INICIO SESION-->
      <form novalidate (submit)="onSubmit(formModalLogin)" #formModalLogin="ngForm" >

        <div class="form-group">
          <label for="">Identificación (Nacional,DIMEX)</label>

          <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
              </div>
              <input class="form-control form-control-lg"
              placeholder="123457890" name="Id" id = "Id"
              #Id="ngModel" [(ngModel)]="serviceUsuario.usuarioActual.Id"
              required minlength="1" [class.invalid]="Id.invalid && Id.touched"
              >
          </div>
        </div>

        <div class="form-group">
          <label for="">Contraseña </label>
          <div class="input-group">

            <input type="password" class="form-control form-control-lg"
                placeholder="******" name="Contrasenna" id ="Contrasenna"
                #Contrasenna="ngModel" [(ngModel)]="serviceUsuario.usuarioActual.Contrasenna"
                required minlength="1" [class.invalid]="Contrasenna.invalid && Contrasenna.touched"
                [type]="passwordType ? 'text' : 'password'"
                

            >
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa"
                  [ngClass]="{
                    'fa-eye-slash': !passwordType,
                    'fa-eye': passwordType
                  }"
                  (click)="togglePasswordType()">
                </i>
              </span>
            </div>
          </div>   
        </div>

        <div class="modal-footer">
          <div class="form-group">
            <button type="submit" class="btn btn-block btn-primary" (click)="modal.close('Save click')"
            [disabled]="formModalLogin.invalid">Iniciar Sesión</button>
          </div>
          
        </div>

      </form>

    </div>

    
    <pre>{{ closeResult }}</pre>
  </ng-template>
  

  <div *ngIf="serviceUsuario.isUserAuthenticated()">
    <button type="button" class="btn btn-outline-light col-12 mt-2 mt-lg-0 fs-5"
    (click)="serviceUsuario.logOut()" routerLink="/"
    >Cerrar Sesión</button>
  </div>

  <form class="d-flex">
    <div *ngIf="!(serviceUsuario.isUserAuthenticated())">
      <button type="button" class="btn btn-outline-light col-12 mt-2 mt-lg-0 fs-5"
      (click)="open(modalLogin)"
      >Iniciar Sesión</button>
    </div>

  </form>
  
  
  