<nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-gradient fs-5">
    <div class="container-fluid">
      <a class="navbar-brand fs-4" href="#">Inicio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

  
  
          <li class="nav-item">
            <a class="nav-link" routerLink="/nuevoLink" >Link Prueba</a>
          </li>
          <li class="nav-item" *ngIf="serviceUsuario.isUserAuthenticated()">
            <a class="nav-link" routerLink="/Salas" >Salas</a>
          </li>

          <li class="nav-item" *ngIf="serviceUsuario.isUserAuthenticated()">
            <a class="nav-link" routerLink="/UsuriosGeneral" >Usuarios</a>
          </li>


          <li class="nav-item dropdown" *ngIf="serviceUsuario.isUserAuthenticated()">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Logged In
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li><!--FIN DROPDOWN-->
  
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Deshabilitado</a>
          </li>

        </ul>

      

        <form class="d-flex">
          <input class="form-control me-3 fs-5" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light mr-2 fs-5" type="submit">Search</button>
        </form>

        <app-modal-login></app-modal-login>

      </div>
    </div>
  </nav>
  